@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.projectFeed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;

  @media(max-width: 975px) {
    grid-template-columns: 1fr;
  }

  .item {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    padding: 1.3rem 2rem;

    cursor: pointer;

    > img {
      max-height: 10rem;
      width: 100%;
      margin-top: auto;
      object-fit: cover;
      object-position: top;
    }

    .title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(0.5);

      .link {
        color: var(--color-typographic-base-font);

        &:hover,
        &:focus {
          border-bottom: 1px solid $color-dark;
          color: var(--color-typographic-base-font);
        }
      }
    }

    .description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(0.75);
    }

    .meta {
      .time {
        color: var(--color-typographic-base-font);
        font-size: $typographic-small-font-size;
        font-weight: 600;
        text-transform: uppercase;
      }

      .divider {
        @include margin(0, 0.5);
      }

      .category {
        .link {
          color: var(--color-secondary);
          font-size: $typographic-small-font-size;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-blue;
          }
        }
      }
    }
  }
}
